$primary_color: rgb(40, 205, 197);

$secondary_color: rgb(40, 205, 197);
$scroll_top_color: rgb(40, 205, 197);

$navBar_color: rgba(201, 194, 194, 0.5);
$white: rgb(255, 255, 255);

$nav_background: #f3f3f3;
$quote_background: rgb(33, 33, 33);
