@import '../assets/colors.scss';

footer {
  align-items: center;
  bottom: 0;
  width: 100%;
  max-width: 2200px;
  background-color: rgb(33, 33, 33);
  height: 90px;
  margin-top: 15px;
}
.logo {
  background-size: cover;
  margin-left: 50px;
  cursor: pointer;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  color: white !important;
}
