@import '../../assets/colors.scss';

.up-btn {
  margin: 25px;
  padding: 11px;
  position: fixed;
  bottom: 3px;
  right: 3px;
  color: $white;
  background: $scroll_top_color;
  border: none !important;
  cursor: pointer;
}
